
<!doctype html>
<html lang="en">
<head data-r="14def165c1641b05cc5aa7be62f340822863a515 3">
  <link rel="shortcut icon" href="/favicon.ico?v=4"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wealthfront - Planning &amp; Investing Made Easy</title>


  <meta name="Description" content="At Wealthfront we believe that everyone deserves access to sophisticated financial advice, without the hassle or the high fees. So live the life you want. We’ve got your back.">


    <meta property="og:url" content="https://www.wealthfront.com/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Wealthfront - Planning &amp; Investing Made Easy" />
<meta property="og:image" content="https://d1rthi4uscpmfy.cloudfront.net/assets/guest/og-10edf74dbc114d050cea6a1215a7cbdf.png" />
<meta property="og:description" content="At Wealthfront we believe that everyone deserves access to sophisticated financial advice, without the hassle or the high fees. So live the life you want. We’ve got your back." />

</head>
<body class="layout-component static-guest-layout-component">
<div class="static-guest-layout-component-wrapper">

  <header class="static-guest-header-component" id="static-guest-header">
    <div class="static-guest-header-component-container container">
      <div class="static-guest-header-component-logo-container">
        <a href="/">
          <div class="static-guest-header-component-logo wf-wave wfont"></div>
        </a>
      </div>
      <ul class="static-guest-header-component-nav-desktop-container list-unstyled no-margin--bottom">
        <li class="static-guest-header-component-nav-item">
          <a class="static-guest-header-component-nav-item-link static-guest-header-component-nav-track-link" href="" data-tracking-slug="philosophy">
            Philosophy
          </a>
        </li>
        <li class="static-guest-header-component-nav-item">
          <a class="static-guest-header-component-nav-item-link static-guest-header-component-nav-track-link" href="" data-tracking-slug="expertise">
            Expertise
          </a>
        </li>
        <li class="static-guest-header-component-nav-item">
          <a class="static-guest-header-component-nav-item-link static-guest-header-component-nav-track-link" href="" data-tracking-slug="origin">
            Origin
          </a>
        </li>
        <li class="static-guest-header-component-nav-item">
          <a class="btn static-guest-header-component-login-button static-guest-header-component-nav-track-link" href="/users/sign_in" data-tracking-slug="sign-in">
            Log in
          </a>
        </li>
        <li class="static-guest-header-component-nav-item">
          <a class="btn btn-primary static-guest-header-component-nav-track-link" href="/users/sign_up" data-tracking-slug="invest-now">
            Sign Up
          </a>
        </li>
      </ul>
      <ul class="static-guest-header-component-nav-mobile-container list-unstyled no-margin--bottom text-medium">
        <li class="static-guest-header-component-nav-item">
          <a href="javascript:void(0)" class="static-guest-header-component-open-mobile-target text-large">
            Menu
          </a>
        </li>
      </ul>
    </div>
    <div class="static-guest-header-component-mobile-backdrop"></div>
    <div class="static-guest-header-component-mobile-nav-menu">
      <ul class="list-unstyled no-margin--bottom">
        <li>
          <input type="checkbox" id="static-guest-header-component-mobile-offering-toggle" class="static-guest-header-component-hidden-checkbox">
          <label for="static-guest-header-component-mobile-offering-toggle" class="static-guest-header-component-mobile-nav-item text-large">
            Offerings
            <span class="static-guest-header-component-mobile-nav-toggle-icon wf-icon accordion-down"></span>
            <span class="static-guest-header-component-mobile-nav-toggle-icon wf-icon accordion-up"></span>
          </label>

      <div class="static-guest-header-component-mobile-nav-subnav">
        <a href="/offerings" class="static-guest-header-component-mobile-nav-subnav-item text-medium static-guest-header-component-nav-track-link" data-tracking-slug="mobile-offering-overview">
          Overview
        </a>
        <a href="/invest-savings" class="static-guest-header-component-mobile-nav-subnav-item text-medium static-guest-header-component-nav-track-link" data-tracking-slug="mobile-invest-savings">
          Invest savings
        </a>
        <a href="/retirement" class="static-guest-header-component-mobile-nav-subnav-item text-medium static-guest-header-component-nav-track-link" data-tracking-slug="mobile-plan-for-retirement">
          Plan for retirement
        </a>
        <a href="/college" class="static-guest-header-component-mobile-nav-subnav-item text-medium static-guest-header-component-nav-track-link" data-tracking-slug="mobile-save-for-college">
          Save for college
        </a>
        <a href="/portfolio-line-of-credit" class="static-guest-header-component-mobile-nav-subnav-item text-medium static-guest-header-component-nav-track-link" data-tracking-slug="mobile-borrow-with-ease">
          Borrow with ease
        </a>
        <a href="/selling-plan" class="static-guest-header-component-mobile-nav-subnav-item text-medium static-guest-header-component-nav-track-link" data-tracking-slug="mobile-sell-company-stock">
          Sell company stock
        </a>
      </div>
  </li>
        <li>
      <a href="/philosophy" class="static-guest-header-component-mobile-nav-item text-large static-guest-header-component-nav-track-link" data-tracking-slug="mobile-philosophy">
        Philosophy
      </a>
      </li>
        <li>
          <a href="/expertise" class="static-guest-header-component-mobile-nav-item text-large static-guest-header-component-nav-track-link" data-tracking-slug="mobile-expertise">
        Expertise
      </a>
      </li>
        <li>
          <a href="/origin" class="static-guest-header-component-mobile-nav-item text-large static-guest-header-component-nav-track-link" data-tracking-slug="mobile-origin">
        Origin
      </a>
      </li>
        <li>
          <a href="/login" class="static-guest-header-component-mobile-nav-item text-large static-guest-header-component-nav-track-link static-guest-header-component-mobile-nav-item-highlight" data-tracking-slug="mobile-sign-in">
        Log in
      </a>
      </li>
        <li>
          <a href="/questions" class="static-guest-header-component-mobile-nav-item text-large static-guest-header-component-nav-track-link static-guest-header-component-mobile-nav-item-highlight" data-tracking-slug="mobile-invest-now">
        Invest now
      </a></li>
      </ul>

      <a href="javascript:void(0)" class="static-guest-header-component-close-mobile-target">
        <span class="wf-icon x-out-gray"></span>
      </a>
    </div>
  </header>

  <div class="static-guest-base-component">
  <svg height="200" width="200" style="display: none" viewBox="0 0 200 100" preserveAspectRatio="none">
  <path d="M0 0 L100 100 L200 00 Z" id="triangle"></path>
</svg>

<div class="static-guest-homepage-component static-guest-page-component">
  <section class="static-guest-homepage-component-intro-section">
    <div class="container-flex">
      <div class="horizontal">
        <div class="col-md-14">
          <div class="static-guest-homepage-component-intro-section-content">
            <h1 class="static-guest-common-title-bright-purple">
              Wealthfront
            </h1>
            <div class="static-guest-common-hero-headline text-serif font-weight-black">
              Live the life you
              <span class="static-guest-mobile-inline">want. We've got </span>
              your back.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="static-guest-homepage-component-info-section">
    <div class="container-flex">
      <div class="horizontal">
        <div class="col-md">
          <div class="static-guest-homepage-component-info-section-imagine text-center">
            <div class="padding--bottom">Imagine being confident about the financial decisions <br>you make.</div>

            <div class="padding--top">
              <div>
                Sounds crazy,
              </div>
              we know.
            </div>
          </div>
          <div class="static-guest-homepage-component-info-section-text text-center text-serif text-xxj font-weight-black">
            Financial planning and investing
            <span class="static-guest-mobile-inline">with Wealthfront couldn't be easier.</span>
            <em>We do it for you.</em>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="static-guest-homepage-component-features-section">
    <div class="static-guest-homepage-component-features-section-bg"></div>
    <div class="static-guest-homepage-component-features-section-target" data-panes-content="[{&quot;title&quot;:&quot;We get to know the real you&quot;,&quot;description&quot;:&quot;Once you connect your most important accounts, we can analyze your data to uncover revealing\n            insights about your finances.&quot;},{&quot;title&quot;:&quot;We put together a custom plan&quot;,&quot;description&quot;:&quot;After understanding your goals, habits and current finances,\n            we’ll recommend strategies tailored to your specific needs.&quot;},{&quot;title&quot;:&quot;We put your money to work&quot;,&quot;description&quot;:&quot;Investing is where we excel – it’s kind of our thing. We have solutions to fit all your\n            investment goals and use software to execute better than anyone else.&quot;}]" data-video-url="{&quot;mp4&quot;:&quot;https://d1rthi4uscpmfy.cloudfront.net/assets/guest/homepage_mobile-4e7b56bb58e212ab05a2fc95ef37243f.mp4&quot;,&quot;webm&quot;:&quot;https://d1rthi4uscpmfy.cloudfront.net/assets/guest/homepage_mobile-6b733c48fde1bb8619298947bdbd9792.webm&quot;,&quot;poster&quot;:&quot;https://d1rthi4uscpmfy.cloudfront.net/assets/guest/homepage_mobile-09d72d7fb01eab1b280f075bc251bed7.png&quot;}" data-title="&quot;Meet Path: \u003cbr /\u003eyour roadmap to \u003cbr /\u003e financial freedom.\u003cbr /\u003e&quot;">
   <div data-reactroot="" class="static-guest-features-component">
      <div class="container-flex">
         <div class="horizontal">
            <div class="col-md-11 align-center-md align-middle-md text-center">
               <div class="static-guest-common-phone">
                  <div class="static-guest-features-video-component">
                     <video playsinline="" class="static-guest-features-video-component-video" poster="https://d1rthi4uscpmfy.cloudfront.net/assets/guest/homepage_mobile-09d72d7fb01eab1b280f075bc251bed7.png" controls>
                        <source src="https://d1rthi4uscpmfy.cloudfront.net/assets/guest/homepage_mobile-6b733c48fde1bb8619298947bdbd9792.webm" type="video/webm">
                        <source src="https://d1rthi4uscpmfy.cloudfront.net/assets/guest/homepage_mobile-4e7b56bb58e212ab05a2fc95ef37243f.mp4" type="video/mp4">
                     </video>
                     <div class="static-guest-features-video-component-play-overlay"></div>
                  </div>
               </div>
            </div>
            <div class="col-md-12 col-md-offset-1 static-guest-features-component-content">
               <h3 class="text-serif font-weight-black text-xj static-guest-features-component-headline static-guest-features-component-headline-dark">Meet Path: <br>your roadmap to <br> financial freedom.<br></h3>
               <div class="static-guest-features-component-panes">
                  <div class="static-guest-features-component-pane static-guest-features-component-pane-selected">
                     <div class="static-guest-features-component-pane-content">
                        <div class="static-guest-features-component-pane-title static-guest-features-component-pane-title-dark margin--bottom">
                           <div class="static-guest-features-component-pane-bullet static-guest-features-component-pane-bullet-dark text-xl"></div>
                           <div class="static-guest-features-component-pane-title-text">We get to know the real you</div>
                        </div>
                        <div class="static-guest-features-component-pane-description static-guest-features-component-pane-description-dark margin--bottom">
                           <p class="text-md">Once you connect your most important accounts, we can analyze your data to uncover revealing
                              insights about your finances.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="static-guest-features-component-pane">
                     <div class="static-guest-features-component-pane-content">
                        <div class="static-guest-features-component-pane-title static-guest-features-component-pane-title-dark margin--bottom">
                           <div class="static-guest-features-component-pane-bullet static-guest-features-component-pane-bullet-dark text-xl"></div>
                           <div class="static-guest-features-component-pane-title-text">We put together a custom plan</div>
                        </div>
                        <div class="static-guest-features-component-pane-description static-guest-features-component-pane-description-dark margin--bottom">
                           <p class="text-md">After understanding your goals, habits and current finances,
                              we’ll recommend strategies tailored to your specific needs.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="static-guest-features-component-pane">
                     <div class="static-guest-features-component-pane-content">
                        <div class="static-guest-features-component-pane-title static-guest-features-component-pane-title-dark margin--bottom">
                           <div class="static-guest-features-component-pane-bullet static-guest-features-component-pane-bullet-dark text-xl"></div>
                           <div class="static-guest-features-component-pane-title-text">We put your money to work</div>
                        </div>
                        <div class="static-guest-features-component-pane-description static-guest-features-component-pane-description-dark margin--bottom">
                           <p class="text-md">Investing is where we excel – it’s kind of our thing. We have solutions to fit all your
                              investment goals and use software to execute better than anyone else.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
  </section>

  <section class="static-guest-homepage-component-simple-section">
    <div class="container-flex">
      <div class="horizontal">
        <div class="col-md-14">
          <div class="static-guest-homepage-component-simple-section-main">
            <h2 class="text-serif text-xj font-weight-black">
              Our investment strategies may be sophisticated, but our philosophy is simple.
            </h2>
            <p class="text-large padding--top">
              Technology can do some things better than people.
              We use software to better execute time-tested investment strategies:
            </p>
          </div>
        </div>
        <div class="col-md-10">
          <div class="static-guest-homepage-component-simple-section-lined-bg static-guest-homepage-component-lined-bg"></div>
        </div>
      </div>
      <div class="static-guest-homepage-component-simple-section-subsection-wrapper">
        <div class="static-guest-homepage-component-simple-section-subsection">
          <div class="static-guest-homepage-component-simple-section-subsection-item">
            <div class="static-guest-homepage-component-simple-section-line"></div>
          </div>
          <div class="static-guest-homepage-component-simple-section-subsection-item">
            <h3 class="text-jumbo strong static-guest-homepage-component-simple-section-subsection-item-heading">
              reduce <br>
              risk
            </h3>
            <p class="static-guest-common-body-text">
              We'll build a diversified portfolio for
              <span class="static-guest-mobile-inline">
              you to maximize returns while minimizing your risk. And our software automatically
              maintains the right level of diversification for you.
              </span>
            </p>
          </div>
          <div class="static-guest-homepage-component-simple-section-subsection-item">
            <h3 class="text-jumbo strong static-guest-homepage-component-simple-section-subsection-item-heading">
              reduce <br>
              taxes
            </h3>
            <p class="static-guest-common-body-text">
              We built tax intelligence into our software to help lower the taxes you pay, so you'll have more money to invest.
            </p>
          </div>
          <div class="static-guest-homepage-component-simple-section-subsection-item">
            <h3 class="text-jumbo strong static-guest-homepage-component-simple-section-subsection-item-heading">
              reduce <br>
              fees
            </h3>
            <p class="static-guest-common-body-text">
              We don't let higher fees eat away at your long-term returns. Our fees are simple
              and so low that the additional returns our strategy generates more than covers the cost.
            </p>
          </div>
        </div>
      </div>
      <div class="horizontal">
        <div class="col-md">
          <div class="static-guest-homepage-component-simple-section-button">
            <a href="/philosophy" class="text-uppercase btn btn-transparent-black static-guest-common-btn">
              Our Philosophy <span class="icon wfont wf-arrow-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="static-guest-homepage-component-explore-section">
    <div class="container-flex">
      <div class="static-guest-homepage-component-explore-section-img-container">
        <div class="static-guest-homepage-component-explore-section-img-1"></div>
      </div>
      <div class="static-guest-homepage-component-explore-section-content">
        <div class="static-guest-homepage-component-explore-section-wrapper">
          <div class="static-guest-homepage-component-explore-section-mobile-border"></div>
          <h3 class="static-guest-homepage-component-explore-section-heading text-serif text-xj font-weight-black padding--bottom">
            <span class="static-guest-mobile-inline">When it comes to your finances,</span>
            what’s on your mind?
          </h3>
          <div class="horizontal">
            <div class="col-md-8 col-md-offset-2">
              <div class="padding--top static-guest-homepage-component-explore-section-text">
                Maybe it’s retiring comfortably –
                <div class="static-guest-mobile-inline">
                  and confidently. Or maybe it's giving your
                </div>
                kids the best educational opportunities.
                <div class="static-guest-mobile-inline">
                  Perhaps you just want a solid financial foundation for the future.
                </div><br>
                Or maybe it's something else.
              </div>
            </div>
          </div>
        </div>
        <div class="static-guest-homepage-component-explore-section-gaols-wrapper">
          <div class="horizontal">
            <div class="col-md-3 col-md-offset-10">
              <div class="static-guest-homepage-component-explore-section-border"></div>
            </div>
            <div class="col-md-10">
              <div class="strong padding--bottom text-large static-guest-homepage-component-explore-section-goals">
                <span class="static-guest-mobile-inline">You have goals.</span>
                We have ways to help you reach them.
              </div>
              <a href="/offerings" class="btn btn-transparent-black static-guest-common-btn text-uppercase margin--ends">
                Explore Your Next Steps <span class="icon wfont wf-arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="static-guest-homepage-component-explore-section-img-container">
        <div class="static-guest-homepage-component-explore-section-img-2"></div>
      </div>
    </div>
  </section>

  <section class="static-guest-homepage-component-fee-section">
    <div class="static-guest-homepage-component-fee-section-top-border"></div>
    <div class="container-flex">
      <div class="text-center text-large">
        <div class="strong">
          Putting your mind at ease doesn’t have to be expensive.
        </div>
        <p class="padding--ends">
          We have the same low fee for everyone.
        </p>
        <div class="static-guest-homepage-component-fee-section-content">
          <div class="static-guest-homepage-component-fee-section-content-lined-bg static-guest-homepage-component-lined-bg"></div>
          <div class="static-guest-homepage-component-fee-section-content-circle text-center">
            <svg class="static-guest-homepage-component-fee-section-content-top-triangle" viewBox="0 0 200 100" preserveAspectRatio="none">
              <use xlink:href="#triangle" />
            </svg>
            <div class="static-guest-homepage-component-fee-section-content-25 text-serif font-weight-black">
              0.25%
            </div>
            <div class="static-guest-homepage-component-fee-section-content-text">
              <div class="text-uppercase padding--bottom">A simple annual advisory fee</div>
              <div class="margin--ends padding--top">No trading commissions. No hidden fees.
                <br>No financial advisor salaries.</div>
              <div class="strong padding--top">No, really.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg class="static-guest-homepage-component-fee-section-content-bottom-triangle" viewBox="0 0 200 100" preserveAspectRatio="none">
      <use xlink:href="#triangle" />
    </svg>
  </section>

  <section class="static-guest-homepage-component-get-started-section">
    <svg class="static-guest-homepage-component-get-started-section-border" viewBox="0 0 200 100" preserveAspectRatio="none">
      <use xlink:href="#triangle" />
    </svg>
    <div class="container-flex">
      <div class="text-center">
        <h3 class="text-serif text-xj font-weight-black static-guest-homepage-component-get-started-section-heading">
          The sooner you start,
          the closer you’ll be to reaching your goals.
        </h3>
        <p class="text-large padding--ends">
          Does now work for you?
        </p>
        <a href="/questions" class="text-uppercase btn btn-transparent-white static-guest-common-btn margin--top">
          Get Started <span class="icon wfont wf-arrow-right"></span>
        </a>
      </div>
    </div>
  </section>

  <section class="static-guest-homepage-component-blog-section">
    <div class="container-flex">
      <div class="text-center">
        <h3 class="text-jumbo strong">
          Still not sure?
        </h3>
        <p class="static-guest-homepage-component-blog-section-text text-medium padding--ends">
          If you want to dig a little deeper before making a decision, we understand.
          Take a look into the thinking behind our approach.
        </p>
        <a href="/expertise" class="text-uppercase btn btn-transparent-black static-guest-common-btn margin--top">
          Dive into our expertise <span class="icon wfont wf-arrow-right"></span>
        </a>
      </div>
      <div class="static-guest-homepage-component-blog-section-posts">

<div class="static-guest-curated-blog-posts-component">
    <a class="static-guest-curated-blog-posts-component-post static-guest-curated-blog-posts-component-post-frame"
      href="https://blog.wealthfront.com/introducing-advanced-indexing"
      target="_blank" rel="noreferrer noopener"
    >
      <div class="static-guest-curated-blog-posts-component-post-content static-guest-curated-blog-posts-component-post-content-dark-aqua">
        <h3 class="static-guest-curated-blog-posts-component-post-frame-heading text-xj">
          Passive investing with an edge
        </h3>
        <p>
          PassivePlus® is our signature suite of investment features designed to deliver more returns without more risk.
        </p>
        Read more
      </div>
    </a>
    <a class="static-guest-curated-blog-posts-component-post static-guest-curated-blog-posts-component-post-solid"
      href="https://blog.wealthfront.com/software-is-better"
      target="_blank" rel="noreferrer noopener"
    >
      <div class="static-guest-curated-blog-posts-component-post-content static-guest-curated-blog-posts-component-post-content-neon-purple">
        <h3 class="static-guest-curated-blog-posts-component-post-solid-heading text-xj">
          See why <div class="static-guest-mobile-inline">software is better than people</div>
        </h3>
        <p>
          Software provides an unlimited number of customers important services that had previously been available only to the very wealthy.
        </p>
        Read more
      </div>
    </a>
    <a class="static-guest-curated-blog-posts-component-post static-guest-curated-blog-posts-component-post-frame"
      href="/expertise"
      target="_blank" rel="noreferrer noopener"
    >
      <div class="static-guest-curated-blog-posts-component-post-content static-guest-curated-blog-posts-component-post-content-aqua">
        <h3 class="static-guest-curated-blog-posts-component-post-frame-heading text-xj">
          Meet our experts
        </h3>
        <p>
          While technology makes our services possible, our expertise makes it exceptional. Meet the brains behind the operation
        </p>
        Read more
      </div>
    </a>
    <a class="static-guest-curated-blog-posts-component-post static-guest-curated-blog-posts-component-post-solid"
      href="https://blog.wealthfront.com/advice-after-election"
      target="_blank" rel="noreferrer noopener"
    >
      <div class="static-guest-curated-blog-posts-component-post-content static-guest-curated-blog-posts-component-post-content-blue">
        <h3 class="static-guest-curated-blog-posts-component-post-solid-heading text-xj">
          Don’t let a <div class="static-guest-mobile-inline">down market get you down</div>
        </h3>
        <p>
          Investors have long known that staying the course is one of the most important things to do – it’s just emotionally hard to execute.
        </p>
        Read more
      </div>
    </a>
    <a class="static-guest-curated-blog-posts-component-post static-guest-curated-blog-posts-component-post-frame"
      href="https://blog.wealthfront.com/introducing-path"
      target="_blank" rel="noreferrer noopener"
    >
      <div class="static-guest-curated-blog-posts-component-post-content static-guest-curated-blog-posts-component-post-content-light-blue">
        <h3 class="static-guest-curated-blog-posts-component-post-frame-heading text-xj">
          Find your personal financial Path
        </h3>
        <p>
          It&#39;s a better way to experience financial planning. Path helps you prepare for your financial future, every step of the way.
        </p>
        Read more
      </div>
    </a>
    <a class="static-guest-curated-blog-posts-component-post static-guest-curated-blog-posts-component-post-solid"
      href="https://blog.wealthfront.com/personal-financial-advisors"
      target="_blank" rel="noreferrer noopener"
    >
      <div class="static-guest-curated-blog-posts-component-post-content static-guest-curated-blog-posts-component-post-content-purple">
        <h3 class="static-guest-curated-blog-posts-component-post-solid-heading text-xj">
          Get smart advice. It’s no longer just for the already-wealthy
        </h3>
        <p>
          Our level of investment sophistication has grown to arguably exceed that of private wealth managers.
        </p>
        Read more
      </div>
    </a>
</div>

      </div>
    </div>
  </section>
</div>

</div>


    <div class="static-guest-layout-component-wrapper-fixed-footer">

<footer class="static-guest-footer-component">
  <div class="container-flex">
    <div class="static-guest-footer-component-nav">
      <div class="horizontal">
        <div class="col-md-16 col-xs">
          <ul class="static-guest-footer-component-nav-link-list">
            <li class="static-guest-footer-component-nav-link-item">
              <a class="static-guest-footer-component-nav-link text-white" href="/careers">Careers</a>
            </li>
            <li class="static-guest-footer-component-nav-link-item">
              <a class="static-guest-footer-component-nav-link text-white" href="/legal">Legal</a>
            </li>
            <li class="static-guest-footer-component-nav-link-item">
              <a class="static-guest-footer-component-nav-link text-white" href="/methodology">Methodology</a>
            </li>
            <li class="static-guest-footer-component-nav-link-item">
              <a class="static-guest-footer-component-nav-link text-white" href="/contact-us">Contact</a>
            </li>
            <li class="static-guest-footer-component-nav-link-item">
              <a class="static-guest-footer-component-nav-link text-white" href="/faq">Help Center</a>
            </li>
            <li class="static-guest-footer-component-nav-link-item">
              <a class="static-guest-footer-component-nav-link text-white" href="/blog">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8 col-xs text-right">
          <a href="#static-guest-header" class="static-guest-footer-component-back-to-top-link strong text-white">Back to top</a>
        </div>
      </div>
    </div>
    <div class="static-guest-footer-component-disclosure text-small">
      <div class="static-guest-footer-disclosure-passive-plus-component">
  <div class="static-guest-footer-disclosure-component">
  <p>
    Wealthfront Inc. is an SEC-registered investment adviser. Please see our
    <a rel="nofollow" class="static-guest-footer-component-disclosure-link static-guest-common-link-underline" href="https://www.wealthfront.com/legal/disclosure">Full Disclosure</a> for
    important details.
  </p>
  <p>
    By using this website, you understand the information being presented is provided for informational purposes
    only and agree to our <a href="https://www.wealthfront.com/legal/terms" class="static-guest-footer-component-disclosure-link static-guest-common-link-underline">Terms of Use</a>
    and <a href="https://www.wealthfront.com/legal/privacy" class="static-guest-footer-component-disclosure-link static-guest-common-link-underline">Privacy Policy</a>.
    Wealthfront relies on information from various sources
    believed to be reliable, including clients and third parties, but cannot guarantee the accuracy and
    completeness of that information. Nothing in this communication should be construed as an offer,
    recommendation, or solicitation to buy or sell any security. Additionally, Wealthfront does not
    provide tax advice and investors are encouraged to consult with their personal tax advisors.
  </p>
  <p>
    Wealthfront’s financial advisory and planning services, provided to investors who become clients
    pursuant to a written agreement, are designed to aid our clients in preparing for their financial
    futures and allow them to personalize their assumptions for their portfolios.
  </p>
  <p>
    All investing involves risk, including the possible loss of money you invest, and past performance does
    not guarantee future performance. Historical returns, expected returns, and probability projections are
    provided for informational and illustrative purposes, and may not reflect actual future performance.
  </p>
</div>


  <p>
    PassivePlus® is a registered trademark and property of CSSC Investment Advisory Services, Inc.
    (“CSSC”) and is used under license. CSSC and Wealthfront are not affiliated companies.
  </p>
</div>
      <p>
        &copy; Copyright 2017 Wealthfront Inc.
      </p>
    </div>
    <a rel="noreferrer noopener nofollow" target="_blank"
       href="https://www.wealthfront.com/norton">
      <img class="static-guest-footer-component-norton-logo"
           src="https://d1rthi4uscpmfy.cloudfront.net/assets/guest/norton_logo-fbff92ba9248e39a4890ef890ff7297c.png"
           alt="Wealthfront is certified by Norton">
    </a>
  </div>
</footer>

    </div>
</div>


<div class="static-modal-component hidden">
  <div class="container-full-width-flex">
    <div class="modal-background">
      <div class="modal-wrapper">
        <div class="modal">
          <div class="modal-close"></div>
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  window.w = window.w || {};
  window.w._varsForJs = JSON.parse("{\"requestId\":\"44c5d5bb-8a03-4848-8658-d612680929d9\",\"revision\":\"14def165c1641b05cc5aa7be62f340822863a515\",\"isTwentyFifteenTierTwo\":true,\"isTwentyElevenTierOne\":false,\"errorTracking\":{\"countErrors\":false},\"ab_tests\":{\"track_on_pageload\":{\"guest_redesign\":{\"versioned_name\":\"guest_redesign_2017_07_19\",\"variant_name\":\"redesign\"}},\"track_on_event\":{}}}") || {};
</script>



<noscript>
      <img height="1" width="1" style="display:none;" alt="" src="/tpx?noscript=true" />

</noscript>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.setAttribute('src',g);
      m.parentNode.insertBefore(a,m);
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1329988-4', {'cookieDomain': 'wealthfront.com'});
    ga('send', 'pageview');
  </script>

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  <script>
    $('.static-guest-features-video-component-play-overlay').click(function(){
      $(this).css('display', 'none');
      $('.static-guest-features-video-component-video')[0].play();

      //this.paused?this.play():this.pause();
    });

  </script>

</body>
</html>
